.editorTextArea {
  float: right;
  width: 100%;
  min-height: 350px;
  outline: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}

.button {
  width: 33.1%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  float: right;
  margin: 2px 1px;
  color: grey;
}

.saveButton {
  background-color: white;
  border: 2px solid royalblue;
}

.saveButton:hover {
  background-color: royalblue;
  color: white;
}

.openButton {
  background-color: white;
  border: 2px solid firebrick;
}

.openButton:hover {
  background-color: firebrick;
  color: white;
}

.analyzeButton {
  background-color: white;
  border: 2px solid gold;
}

.analyzeButton:hover {
  background-color: gold;
  color: white;
}
