.editorTextArea {
  float: right;
  padding: 15px 15px;
  width: 100%;
  min-height: 350px;
  outline: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}

.button {
  width: 33%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  float: right;
  box-sizing: border-box;
  margin: 2px 0.11%;
  color: grey;
}

.saveButton {
  background-color: white;
  border: 2px solid royalblue;
}

.saveButton:hover {
  background-color: royalblue;
  color: white;
}

.openButton {
  background-color: white;
  border: 2px solid firebrick;
}

.openButton:hover {
  background-color: firebrick;
  color: white;
}

.analyzeButton {
  background-color: white;
  border: 2px solid gold;
}

.analyzeButton:hover {
  background-color: gold;
  color: white;
}

.analytical {
  background-color: rgba(65, 105, 225, 0.5);
}

.anger {
  background-color: rgba(178, 34, 34, 0.5);
}

.confident {
  background-color: rgba(124, 104, 238, 0.5);
}

.fear {
  background-color: rgba(34, 139, 34, 0.5);
}

.joy {
  background-color: rgba(255, 217, 0, 0.5);
}

.sadness {
  background-color: rgba(25, 25, 112, 0.5);
}

.tentative {
  background-color: rgba(0, 128, 128, 0.5);
}
